/* RESET */
* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    text-align: start;
}

nav {
    list-style: none;
    display: flex;
}

.logo{
    display: flex;
    align-items: center;
}

.creative-office{
    padding-left: 10px;
}

/* HEADER */
header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30vh;
    border-bottom: 1px solid;
}

header li {
    margin: 0px 15px;
}

a {
    color: black;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.9;    
}

a :hover {
    opacity: 1;
}


/* FIRST SECTION */
.section-1 {
    display: flex ;
    justify-content: space-around;

}

.design-matters {
    margin: 250px 0 0px 0px;
}

.paragraph-1{
    margin: 64px 0;
    width: 340px;
    font-size: 18px;
}

.imagem-1 {
    height: 500px;
    filter: grayscale(90%);
    transition: .8s;
    border-radius: 80px;
}

.filtro :hover {
    filter: grayscale(0);
}

.paragraph-2 {
    margin: 40px 0px;
    font-size: 18px;
    width: 450px;
}

button {
    border: 100px;
    border-color: blue;
    border-radius: 15px;
    padding: 10px;
    cursor: pointer;
    background-color: black;
    color: white;
    transition: .3s ease all; 
    
}

button:hover {
    background-color: #54504a;
    color: white;
}

.this-project {
    display: flex;
    margin-bottom: 30px;
}

.full-portfolio {
    display: flex;
    margin-bottom: 15px;
}

.portfolio-texto {
    margin-left: 20px;
}

/* SECTION TWO */
.section-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin:250px 150px ;
}

.paragraph-3 {
    margin-top: 100px;
    width: 650px;
    font-size: 30px;
}


/* SECTION THREE */

.section-3 {
    margin: 300px 280px 100px;
}

h2 {
    font-family: 'bebas neue';
    font-size: 60px;
    padding-bottom: 72px;
}

.brand-identity {
    position: absolute;
    margin-top: 80px;
}

.article-1 {
    display: flex;
    justify-content: space-between;
}

.imagem-4 {
    width: 20%;
    height: 20%;
    margin-left: 100px;
}

.paragraph-4 {
    padding: 24px 0px 15px 34px;
}

.texto-1 {
    width: 100%;
    margin-top: 80px;
}

.article-2 {
    display: flex;
    margin: 100px 0;
}


.imagem-5 {
    width: 20%;
    height: 20%;
    margin-right: 80px;
    
}

.Website-building {
    position: absolute;
}

.paragraph-6 {
    font-size: 18px;
    padding: 25px 0px 10px 56px;
}

.paragraph-7 {
    font-size: 18px;
}

.texto-2 {
    margin-top: 90px;
}

.article-3 {
    display: flex ;
    margin: 200px 0;
}

.texto-3 {
    margin-top: 90px;
}

.imagem-6 {
    order: 2;
    margin-left: 100px;
    width: 20%;
    height: 20%;
}

.naming-projects {
    position: absolute;
}

.paragraph-8 {
    margin:25px 0 15px 42px;
    font-size: 18px;
}

.paragraph-9 {
    font-size: 18px;
}

.article-4 {
    display: flex;
    margin-top: 200px;
}

.imagem-7 {
    margin-right: 90px;
    width: 20%;
    height: 20%;
    margin-bottom: 200px;
}

.texto-4 {
    margin-top: 80px;
}

.content-creation {
    position: absolute;
}

.paragraph-10 {
    margin: 29px 0 18px 39px;
    font-size: 18px
}

.paragraph-11 {
    font-size: 18px;
}


/* SECTION FOUR */
.section-4 {
    margin: 0 280px 200px;
    display: flex;
}

.paragraph-12 {
    font-size: 45px;
    font-family: 'playfair display';
    font-style: italic;
    margin-bottom: 30px;
}

.paragraph-13 {
    font-size: 30px;
    font-style: italic;
    font-family: 'playfair display';
}

.email-us {
    padding: 120px 0 0;
}

.owl-carousel {
    margin: 20px 0px;
}

.instagram {
    margin-bottom: 100px;
    justify-content: center;
    display: flex;
}

.instagram-name {
    font-size: 43px;
    font-family: 'playful display';
    font-style: italic;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px 0 50px;
}

/* FORMULARIO */

.formulario {
    display: flex;
    margin: 50px 0;
}

::-webkit-scrollbar {
    width: 8px;
    background-color: rgb(200, 200, 200);
}

::-webkit-scrollbar-thumb {
    background-color: rgb(97, 97, 97);
    border-radius: 15px;
}

html {
    scroll-behavior: smooth;
}
